<div class="wrapper .col-sm-4">

  {{#link-to 'chapter' chapter}}<img {{bind-attr src=chapter.thumbnail}}>{{/link-to}}
  <div class="tooltip">{{tooltipText}}</div>
  <div class="caption">
      <div class="chapter-nr pull-left">{{chapter.nr}}</div>
      <div class="pull-right download-icon">
        <a {{action 'selectChapter'}}><span class="glyphicon glyphicon-file"></span></a>
      </div>
      <div class="chapter-title">
        <h4>{{#link-to 'chapter' chapter }}{{chapter.title}}{{/link-to}}</h4>
      </div>
  </div>

</div>
