// fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,700);
@font_regular: "Open Sans", sans-serif;
@font_light: "Open Sans Condensed", sans-serif;


// colors
@white: #fff;
@beige: #efefee;
@red: #d31245;
@darkgrey: #413f3f;


// dimensions
@header_height: 100px;
@chapter_box: 230px;


body {
  font-family: @font_regular;
  font-weight: 400;
  background-color: @beige;
}

header {
  background-color: @darkgrey;
  height: @header_height;
  padding: 20px;

  h1 {
    font-family: @font_light;
    font-weight: 300;
    color: @white;
    margin: 0;
    font-size: 2em;
    letter-spacing: 0.05em;

    a, a:hover, a:active, a:visited, a:focus {
      color: white;
      text-decoration: none;
    }
  }
}

footer {
  color: darken(@beige, 50%);
  border-top: 1px solid fadeout(@darkgrey, 80%);
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  margin-top: 3em;
  padding: 20px 0 10px;

  a,
  a:hover { color: darken(@beige, 50%); }
}

a,
a:hover {
  color: @red;
}

#download-link a {
  color: @darkgrey;
  background-color: @beige;
  border: 1px @darkgrey solid;
  padding: 8px 10px;
  margin-top: 5px;

  &.is-custom-report {
    color: @white;
    background: darken(@red, 5%);
    border: 1px @white solid;
  }
}

.chart h2, .support-docs h2 { margin-bottom: 1em; }


// hide header on scroll up
#navbar.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#navbar.affix + .container { margin-top: 50px; }


.navbar {
  border: none;
  margin-bottom: 0px;
  background-color: @red;
  border-color: darken(@red, 10%);

  .navbar-nav > li > a { text-transform: uppercase; }

  .navbar-nav > li > a,
  .navbar-brand { color: @white; }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: @white;
    background-color: darken(@red, 5%);
  }

  .navbar-nav > .disabled > a,
  .navbar-nav > .disabled > a:hover,
  .navbar-nav > .disabled > a:focus {
    color: fadeout(@white, 40%);
  }

  .navbar-right {
    padding-right: 15px;
  }
}


.btn-primary {
  color: #FFF;
  background-color: @red;
  border-color: darken(@red, 10%);

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken(@red, 5%);
    border-color: darken(@red, 10%);
  }
}


// modal styles
.progress-bar {
  background-color: @darkgrey;
}

.modal ul.chapter-list li {
  font-weight: 700;
  list-style: none;
}


.container {

  p {
    font-size: 1.2em;
    letter-spacing: 0.02em;
    line-height: 1.8em;
    padding: 10px 30px;
  }

  .chapters {
    padding-top: 1.5em;
  }

  .chapter-grid.row {
    text-align: center;

    .chapter-box {
      display: inline-block;
      margin: 1.5em;

      .wrapper {
        position: relative;
        width: @chapter_box + 2px;
        height: @chapter_box + 2px;
        margin: 4px;
        border: solid 1px fadeout(@darkgrey, 80%);

        img {
          width: @chapter_box;
          height: @chapter_box;
        }

        .caption {
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: 40px;
          background-color: fadeout(@darkgrey, 20%);
          padding: 10px 4px;
          text-align: left;
          font-family: @font_light;
          color: @white;

          a {
            cursor: pointer;
            color: @white;
          }

          .chapter-nr {
            font-size: 28px;
            line-height: 20px;
            margin-right: 10px;
            padding-left: 6px;
          }

          .chapter-title {
            display: table-cell;
            vertical-align: middle;

            h4 {
              font-size: 16px;
              line-height: 20px;
              margin: 0px;
            }
          }

          .glyphicon { font-size: 20px; }
        }

        .tooltip {
          position: absolute;
          bottom: 40px;
          width: 100%;
          height: 20px;
          line-height: 20px;
          color: @darkgrey;
          background-color: fadeout(@beige, 10%);
        }
     }

      &.selected {
        background-color: @red;

        .wrapper {
          border-color: @red;

          .caption {
            background-color: fadeout(@red, 15%);
            color: @white;

            a { color: @white; }
          }
        }
      }
    }
  }


  // single page
  article {

    .img-wrapper {
      margin: 40px 0 20px;

      .chapter-nav {
        color: @white;
        background-color: @darkgrey;
        padding: 10px;
        min-height: 60px;

        a {
          color: @white;
          &.chapter-nr:hover { text-decoration: none; }
        }

        .previous,
        .next {
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
        }

        .previous .chapter-title { margin-left: 15px; }

        .next {
          text-align: right;
          .chapter-title { margin-right: 15px; }
        }

        .chapter-nr {
          font-weight: 300;
          font-size: 36px;
          line-height: 40px;

          .glyphicon { font-size: 28px; }
        }

        .chapter-title {
          line-height: 20px;
          font-size: 18px;
          font-family: @font_light;
          display: flex;
          flex-direction: column;

          .nav-help {
            font-size: 14px;
            font-family: @font_regular;
          }
        }
      }

      .caption {
        color: @white;
        background-color: @red;
        font-family: @font_light;
        font-weight: 300;
        padding: 10px;

        h2 {
          margin: 0px;

          .chapter-nr {
            font-size: 1.2em;
            font-family: @font_regular;
          }
        }
      }

      .img {
        position: relative;
        overflow: hidden;

        &.is-small {
          height: 400px;
          img { margin-top: -70px; }
        }

        img {
          transition: margin-top 0.5s ease;
          width: 100%;
        }

        a {
          color: @white;
          .glyphicon { text-shadow: 1px 1px 5px fadeout(@darkgrey, 60%); }
        }

        .previous,
        .next,
        .zoom {
          position: absolute;
          top: 40%;
          font-size: 4em;
        }

        .next { right: 0px; }

        .zoom {
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }

    blockquote {
      margin-left: 5em;
      background-color: darken(@beige, 5%);
    }
  }


  .ember-admin {

    .nav { margin-bottom: 10px; }

    .nav-pills {
      > li {
        > a.active,
        > a:hover,
        > a:focus {
          color: #FFF;
          background-color: #428BCA;
        }
      }
    }

    // some vendor CSS is trying mess with that class
    .thumbnail {
      background: none;
      border: none;
    }
  }
}

.support-docs {

  ul {
    list-style-type: none;

    li {
      font-size: 1.2em;
      letter-spacing: 0.02em;
      line-height: 1.8em;

      &:before {
        font-family: 'Glyphicons Halflings';
        content: "\e022";
        margin-right: 0.2em;
        font-size: 1.2em;
      }


    }

  }

}


.chart {

  #graph-container {
    height: 500px;

    svg {
      width: 100%;
      height: 100%;
      background: @darkgrey;

      .node {
        cursor: pointer;
      }

    }

  }

  #legend {
    columns: 3;
    -webkit-column-count: 2;
    -moz-column-count: 2;

    background-color: @darkgrey;
    color: @white;
    padding: 0.8em;
    padding-top: 1em;

    .legend-item {
      font-size: 0.9em;

      svg {
        margin-right: 0.4em;
        vertical-align: middle;
      }
    }
  }

  .description {
    margin-top: 2em;
  }

  .sidebar {

    p { padding: 0; }

    .help-text {
      font-size: 1em;
      line-height: 1.5em;
      margin-top: 20px;
      padding-left: 10px;
    }

    ul.collaborations {
      list-style-type: none;
      padding-left: 0;

      li {
        padding: 5px 10px;
        border-bottom: 1px @darkgrey dotted;

        cursor: pointer;

      }
    }
  }



  // typeahead
  .tt-query {
  -webkit-box-shadow: inset 0 1px 1px fadeout(@darkgrey, 10%);
     -moz-box-shadow: inset 0 1px 1px fadeout(@darkgrey, 10%);
          box-shadow: inset 0 1px 1px fadeout(@darkgrey, 10%);
  }

  .tt-hint {
    color: @darkgrey;
  }

  .tt-dropdown-menu {
    margin-top: 1em;
    padding: 0.8em 0;
    background-color: #fff;
    border: 1px solid fadeout(@darkgrey, 80%);
    -webkit-box-shadow: 0 5px 10px fadeout(@darkgrey, 20%);
       -moz-box-shadow: 0 5px 10px fadeout(@darkgrey, 20%);
            box-shadow: 0 5px 10px fadeout(@darkgrey, 20%);
  }

  .tt-suggestion {
    padding: 3px 20px;
    font-size: 1em;
    line-height: 1.5em;
  }

  .tt-suggestion.tt-cursor {
    color: @white;
    background-color: @red;
    cursor: pointer;

  }

  .tt-suggestion p {
    margin: 0;
  }

}


.navbar,
.img {

  .tooltip {
    &.bottom { margin-top: 2px; }
    &.top .tooltip-arrow { border-top-color: @darkgrey; }
    &.right .tooltip-arrow { border-right-color: @darkgrey; }
    &.bottom .tooltip-arrow { border-bottom-color: @darkgrey; }
    &.left .tooltip-arrow { border-left-color: @darkgrey; }
  }

  .tooltip-inner {
    background-color: @darkgrey;
    border-radius: 0px;
  }
}
