<div class="chapters">

  {{#each row in gridRows}}

    <div class="chapter-grid row">

      {{#each chapter in row}}

          {{chapter-box chapter=chapter toPrint=toPrint}}

      {{/each}}

    </div>

  {{/each}}

</div>
