{{#if relationshipGiven}}
<div {{bind-attr class="recordType :index"}}>
{{else}}
<div {{bind-attr class="recordType :index :row"}}>
{{/if}}
  {{#unless hideCreate}}
    {{#if relationshipGiven}}
      {{link-to 'Create' 'model-records.new' recordType (query-params relationship-name=relationshipName relationship-id=relationshipId) class='btn btn-default'}}
    {{else}}
      {{link-to 'Create' 'model-records.new' recordType class='btn btn-default'}}
    {{/if}}
  {{/unless}}

  <table class="table">
    <thead>
      <tr>
        {{#each column in filteredColumns}}
          <th>{{column}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each record in records}}
      <tr>
        {{#each column in filteredColumns}}
        <td>
          {{#link-to 'model-records.edit' recordType record}}
            {{property-print "record" column}}
          {{/link-to}}
        </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
  </table>
  {{#unless records}}
    No records!
  {{/unless}}
</div>
