<div class='edit row'>
  <h2>Edit {{id}}</h2>

  <div class="form-horizontal" role="form">

    {{#if title}}
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        {{input value=title class='form-control'}}
      </div>
      </label>
    </div>
    {{/if}}

    {{#if nr}}
    <div class="form-group">
      <label class="col-sm-2 control-label">Number</label>
      <div class="col-sm-10">
        {{input value=nr class='form-control'}}
      </div>
      </label>
    </div>
    {{/if}}

    {{#if slug}}
    <div class="form-group">
      <label class="col-sm-2 control-label">Slug</label>
      <div class="col-sm-10">
        {{input value=slug class='form-control'}}
      </div>
      </label>
    </div>
    {{/if}}

    {{#if thumbnail}}
    <div class="form-group">
      <label class="col-sm-2 control-label">Thumbnail</label>
      <div class="col-sm-10">
        {{input value=thumbnail class='form-control'}}
      </div>
      </label>
    </div>
    {{/if}}

    {{#if body}}
    <div class="form-group">
      <label class="col-sm-2 control-label">Content</label>
      <div class="col-sm-10">
        {{textarea value=body class='form-control' rows='10'}}
      </div>
      </label>
    </div>
    {{/if}}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {{async-button action="save" default="Save" pending="Saving..." fulfilled="Saved" rejected="Error" class="save btn btn-primary"}}
        {{async-button action="destroyRecord" default="Delete" pending="Deleting..." fulfilled="Deleted" class="delete btn btn-default"}}
        <button {{action "cancel"}} class="cancel btn btn-default">Cancel</button>
      </div>
    </div>

  </div>

  <h2>Relationships</h2>

  {{#each relationshipType in relationshipTypes}}
    {{#each relationship in relationshipType}}
      <h4>{{relationship.name}}</h4>
      {{model-records-table recordType=relationship.type records=relationship.records relationshipName=relationship.inverse relationshipId=id}}
    {{/each}}
  {{/each}}
</div>
