<div class="ember-admin">

  <div class="row">

    <h2>Admin</h2>

    <ul class="nav nav-pills">
    {{#each name in filteredModels}}
      <li>{{link-to name 'model-records' name}}</li>
    {{/each}}
    </ul>

  </div>

  {{outlet}}

</div>
