<header>
  <div class="container">
    <a href="http://cfaes.osu.edu"><img src="/images/cfaes-logo.png" alt="CFAES - College of Food, Agricultural, and Environmental Sciences" /></a>
    <h1 class="pull-right">{{#link-to 'chapters'}}Facilities Master Plan{{/link-to}}</h1>
  </div>
</header>

<div id="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'chapters' tagName='li'}}
          {{#link-to 'chapters'}}Chapter Index{{/link-to}}
        {{/link-to}}
        {{#link-to 'support-docs' tagName='li'}}
          {{#link-to 'support-docs'}}Supporting Technical Documents{{/link-to}}
        {{/link-to}}
        {{#link-to 'chart' 1 tagName='li'}}
          {{#link-to 'chart' 1}}Collaboration Survey Results{{/link-to}}
        {{/link-to}}
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li id="download-link">
          {{#if isCustomReport}}

            <a href="#" {{bind-attr class="isCustomReport"}} {{action 'downloadCustomReport'}}>
              <span class="glyphicon glyphicon-file"></span> {{printBtnText}}
            </a>

          {{else}}

            <a href="/pdf/cfaes-plan.pdf" download="cfaes-plan.pdf">
              <span class="glyphicon glyphicon-file"></span> {{printBtnText}}
            </a>

          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container">

{{outlet}}

</div>

<footer class="footer">

  <p>© <a href="http://sasaki.com">Sasaki Associates</a> 2014</p>

</footer>

<div class="modal fade" id="downloadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Custom Report Download</h4>
      </div>
      <div class="modal-body">
        <p>
          Your custom report contains the following chapters:
          <ul class="chapter-list">
            {{#each toPrintSorted}}
              <li>{{nr}} {{title}}</li>
            {{/each}}
          </ul>
        </p>
        <p>
          {{#if isPreparingPdf}}

            <div class="progress">
              <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                Preparing custom report...
              </div>
            </div>

          {{else}}

            {{#if customPdfError}}
              <span class="text-danger"><b>Error:</b> {{customPdfErrorMsg}}</span>
            {{else}}
              Please download your custom report from:<br>
              <a {{bind-attr href=pdfUrl}}>{{pdfUrl}}</a>
            {{/if}}

          {{/if}}

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
