<h2>{{model.title}}</h2>

<div class="row">

  <div class="col-md-9">

    <div id="graph-container"></div>

    <div id="legend">
      {{#each view.controller.model.graph_data.legend}}
        {{chart-legend-item label=label color=color}}
      {{/each}}
    </div>

    <div class="description">
      {{format-markdown model.description}}
    </div>

  </div>

  <div class="col-md-3 sidebar">

    {{#if view.typeaheadData}}
    {{type-ahead data=view.typeaheadData name='nodes' selectedItem=view.selectedNode classNames='form-control' placeholder='Search survey results'}}
    {{/if}}

    <div>
      {{#unless view.selectedNode}}
        <p class="help-text">Click on a circle in the chart to view more information.</p>
      {{/unless}}
      {{#if view.selectedNode}}

        <h3>{{view.selectedNode.attributes.label}}</h3>

        {{#if view.dedupedCollaborations}}
          <p>Collaborations:</p>
          <ul class="collaborations">
            {{#each view.dedupedCollaborations}}

              {{collab-item item=this hoveredNode=view.hoveredNode selectedNode=view.selectedNode}}

            {{/each}}
          </ul>
        {{else}}
          <p>No collaborations.</p>
        {{/if}}

      {{/if}}
    </div>

  </div>

</div>
