<article>
  <div class="img-wrapper">

    <div class="chapter-nav">
      {{#if nextChapter}}
        <div class="next pull-right">
          <div class="chapter-title">
            <div class='nav-help'>next</div>
            <div>
              {{#link-to 'chapter' nextChapter}}{{nextChapter.title}}{{/link-to}}
            </div>
          </div>
          <div>
            {{#link-to 'chapter' nextChapter class='chapter-nr'}}
              {{nextChapter.nr}} <span class="glyphicon glyphicon-chevron-right"></span>
            {{/link-to}}
          </div>
        </div>
      {{/if}}

      {{#if previousChapter}}
        <div class="previous">
          <div>
            {{#link-to 'chapter' previousChapter class='chapter-nr'}}
              {{previousChapter.nr}} <span class="glyphicon glyphicon-chevron-left"></span>
            {{/link-to}}
          </div>
          <div class="chapter-title">
            <div class='nav-help'>previous</div>
            <div>
              {{#link-to 'chapter' previousChapter}}{{previousChapter.title}}{{/link-to}}
            </div>
          </div>
        </div>
      {{/if}}

    </div>


    {{view 'page-image'}}


    <div class='caption'>
      <h2><span class="chapter-nr">{{model.chapter.nr}}</span> {{model.chapter.title}}</h2>
    </div>

  </div>

  {{format-markdown model.body}}

</article>
