<div class="zoom">
  <a href="#" id="resize-btn" {{action 'expand' target='view'}}>
    {{#if view.isSmall}}
      <span class="glyphicon glyphicon-resize-full"></span>
    {{else}}
      <span class="glyphicon glyphicon-resize-small"></span>
    {{/if}}
  </a>
</div>


{{#link-to 'page' controller.previousPage class='previous'}}
  {{#if controller.previousPage}}<span class="glyphicon glyphicon-chevron-left"></span>{{/if}}
{{/link-to}}

{{#link-to 'page' controller.nextPage class='next'}}
  {{#if controller.nextPage}}<span class="glyphicon glyphicon-chevron-right"></span>{{/if}}
{{/link-to}}


<img {{bind-attr src=controller.imageUrl}} />
